* text=auto !eol
EXAMPLES/garcia -text
EXAMPLES/lehmann -text
EXAMPLES/nicole-simplex.vrep -text
EXAMPLES/tests/implied-equation.latte -text
EXAMPLES/tests/missing-newline-2.latte -text
EXAMPLES/tests/missing-newline-3.latte -text
EXAMPLES/tests/missing-newline.latte -text
code/test-suite/test-4ti2.sh -text
code/test-suite/test-allprimal-exp-maxdet1000-4ti2.sh -text
code/test-suite/test-allprimal-exp-maxdet1000.sh -text
code/test-suite/test-cdd-cddlib.sh -text
code/test-suite/test-cdd.sh -text
code/test-suite/test-default.sh -text
code/test-suite/test-homog.sh -text
code/test-suite/test-irr-exp-maxdet1000-4ti2.sh -text
code/test-suite/test-irr-exp-maxdet1000.sh -text
distro/cdd+-077a.patch -text svneol=unset#application/octet-stream
distro/ntl-5.4-patch -text svneol=unset#application/octet-stream
doc/examplebrion.eps -text svneol=unset#application/octet-stream
/manual_v1.1.pdf -text
