* text=auto !eol
distro/cdd+-077a.patch -text svneol=unset#application/octet-stream
distro/ntl-5.4-patch -text svneol=unset#application/octet-stream
doc/examplebrion.eps -text svneol=unset#application/octet-stream
/manual_v1.1.pdf -text
