/Check_emp.ddl
/Check_emp.lp
/Check_emp.lps
/Check_emp.out
/Error
/Makefile
/Makefile.in
/aclocal.m4
/autom4te.cache
code/Makefile
code/Makefile.in
code/config.h
code/config.hin
code/latte/.deps
code/latte/Check_emp.ddl
code/latte/Check_emp.lp
code/latte/Check_emp.lps
code/latte/Check_emp.out
code/latte/ComputeAdjacency
code/latte/Makefile
code/latte/Makefile.in
code/latte/SunWS_cache
code/latte/adjacency/ComputeAdjacency
code/latte/adjacency/redcheck
code/latte/barvinok/SunWS_cache
code/latte/count
code/latte/ehrhart
code/latte/genFunction/SunWS_cache
code/latte/maximize
code/latte/minimize
code/latte/numOfLatticePoints
code/latte/numOfUnimodularCones
code/latte/redcheck
code/latte/simple-count
code/latte/test-todd
code/latte/todd/todd.cpp
code/latte/todd/todd.pre-cpp
code/latte/vertices/SunWS_cache
code/latte/vertices/redcheck
code/stamp-h.in
code/stamp-h1
/config.h.in
/config.log
/config.status
/configure
/numOfLatticePoints
/numOfUnimodularCones
/stamp-h1
