/*.er
/*.qv
/Check_emp.ddl
/Check_emp.lp
/Check_emp.lps
/Check_emp.out
EXAMPLES/*.latte
EXAMPLES/*.latte.cdd
EXAMPLES/*.latte.ead
EXAMPLES/*.latte.ext
EXAMPLES/*.latte.maple
EXAMPLES/Check_emp.ddl
EXAMPLES/Check_emp.lp
EXAMPLES/Check_emp.lps
EXAMPLES/Check_emp.out
EXAMPLES/Check_red
EXAMPLES/Check_red.out
EXAMPLES/Error
EXAMPLES/Makefile
EXAMPLES/Makefile.in
EXAMPLES/birkhoff/*.ddl
EXAMPLES/birkhoff/*.ine
EXAMPLES/birkhoff/*.rat
EXAMPLES/crosspolytope/*.latte
EXAMPLES/crosspolytope/*.latte.cdd
EXAMPLES/crosspolytope/*.latte.ead
EXAMPLES/crosspolytope/*.latte.ext
EXAMPLES/crosspolytope/*.latte.maple
EXAMPLES/crosspolytope/*.vrep.cdd
EXAMPLES/crosspolytope/*.vrep.ead
EXAMPLES/crosspolytope/*.vrep.ext
EXAMPLES/crosspolytope/Check_emp.ddl
EXAMPLES/crosspolytope/Check_emp.lp
EXAMPLES/crosspolytope/Check_emp.lps
EXAMPLES/crosspolytope/Check_emp.out
EXAMPLES/crosspolytope/Check_red
EXAMPLES/crosspolytope/Check_red.out
EXAMPLES/crosspolytope/Error
EXAMPLES/crosspolytope/Makefile
EXAMPLES/crosspolytope/Makefile.in
EXAMPLES/crosspolytope/latte_cdd.ddl
EXAMPLES/crosspolytope/latte_cdd.ext
EXAMPLES/crosspolytope/latte_cdd.ine
EXAMPLES/crosspolytope/latte_cdd.out
EXAMPLES/crosspolytope/latte_mlp.out
EXAMPLES/crosspolytope/latte_stats
EXAMPLES/crosspolytope/numOfLatticePoints
EXAMPLES/crosspolytope/numOfUnimodularCones
EXAMPLES/crosspolytope/totalTime
EXAMPLES/haus/*.latte
EXAMPLES/haus/*.latte.cdd
EXAMPLES/haus/*.latte.ead
EXAMPLES/haus/*.latte.ext
EXAMPLES/haus/*.latte.maple
EXAMPLES/haus/Check_emp.ddl
EXAMPLES/haus/Check_emp.lp
EXAMPLES/haus/Check_emp.lps
EXAMPLES/haus/Check_emp.out
EXAMPLES/haus/Check_red
EXAMPLES/haus/Check_red.out
EXAMPLES/haus/Error
EXAMPLES/haus/Makefile
EXAMPLES/haus/Makefile.in
EXAMPLES/haus/latte_cdd.ddl
EXAMPLES/haus/latte_cdd.ext
EXAMPLES/haus/latte_cdd.ine
EXAMPLES/haus/latte_cdd.out
EXAMPLES/haus/latte_mlp.out
EXAMPLES/haus/numOfLatticePoints
EXAMPLES/haus/numOfUnimodularCones
EXAMPLES/hickerson/*.latte
EXAMPLES/hickerson/*.latte.cdd
EXAMPLES/hickerson/*.latte.ead
EXAMPLES/hickerson/*.latte.ext
EXAMPLES/hickerson/*.latte.maple
EXAMPLES/hickerson/Check_emp.ddl
EXAMPLES/hickerson/Check_emp.lp
EXAMPLES/hickerson/Check_emp.lps
EXAMPLES/hickerson/Check_emp.out
EXAMPLES/hickerson/Check_red
EXAMPLES/hickerson/Check_red.out
EXAMPLES/hickerson/Error
EXAMPLES/hickerson/Makefile
EXAMPLES/hickerson/Makefile.in
EXAMPLES/hickerson/latte_cdd.ddl
EXAMPLES/hickerson/latte_cdd.ext
EXAMPLES/hickerson/latte_cdd.ine
EXAMPLES/hickerson/latte_cdd.out
EXAMPLES/hickerson/latte_mlp.out
EXAMPLES/hickerson/numOfLatticePoints
EXAMPLES/hickerson/numOfUnimodularCones
EXAMPLES/latte_cdd.ddl
EXAMPLES/latte_cdd.ext
EXAMPLES/latte_cdd.ine
EXAMPLES/latte_cdd.out
EXAMPLES/latte_mlp.out
EXAMPLES/mcallister/*.latte
EXAMPLES/mcallister/*.latte.cdd
EXAMPLES/mcallister/*.latte.ead
EXAMPLES/mcallister/*.latte.ext
EXAMPLES/mcallister/*.latte.maple
EXAMPLES/mcallister/Check_emp.ddl
EXAMPLES/mcallister/Check_emp.lp
EXAMPLES/mcallister/Check_emp.lps
EXAMPLES/mcallister/Check_emp.out
EXAMPLES/mcallister/Check_red
EXAMPLES/mcallister/Check_red.out
EXAMPLES/mcallister/Error
EXAMPLES/mcallister/Makefile
EXAMPLES/mcallister/Makefile.in
EXAMPLES/mcallister/latte_cdd.ddl
EXAMPLES/mcallister/latte_cdd.ext
EXAMPLES/mcallister/latte_cdd.ine
EXAMPLES/mcallister/latte_cdd.out
EXAMPLES/mcallister/latte_mlp.out
EXAMPLES/mcallister/numOfLatticePoints
EXAMPLES/mcallister/numOfUnimodularCones
EXAMPLES/numOfLatticePoints
EXAMPLES/numOfUnimodularCones
EXAMPLES/yoshida/*.latte
EXAMPLES/yoshida/*.latte.cdd
EXAMPLES/yoshida/*.latte.ead
EXAMPLES/yoshida/*.latte.ext
EXAMPLES/yoshida/*.latte.maple
EXAMPLES/yoshida/Check_emp.ddl
EXAMPLES/yoshida/Check_emp.lp
EXAMPLES/yoshida/Check_emp.lps
EXAMPLES/yoshida/Check_emp.out
EXAMPLES/yoshida/Check_red
EXAMPLES/yoshida/Check_red.out
EXAMPLES/yoshida/Error
EXAMPLES/yoshida/Makefile
EXAMPLES/yoshida/Makefile.in
EXAMPLES/yoshida/latte_cdd.ddl
EXAMPLES/yoshida/latte_cdd.ext
EXAMPLES/yoshida/latte_cdd.ine
EXAMPLES/yoshida/latte_cdd.out
EXAMPLES/yoshida/latte_mlp.out
EXAMPLES/yoshida/numOfLatticePoints
EXAMPLES/yoshida/numOfUnimodularCones
/Error
/INSTALL
/Makefile
/Makefile.in
/aclocal.m4
/autom4te.cache
code/Makefile
code/Makefile.in
code/config.h
code/config.hin
code/gnulib/.deps
code/gnulib/.dirstamp
code/gnulib/Makefile
code/gnulib/Makefile.in
code/gnulib/alloca.h
code/gnulib/stdlib.h
code/gnulib/string.h
code/gnulib/unistd.h
code/latte/.deps
code/latte/.nfs*
code/latte/4ti2_triangulation_output
code/latte/BlockIntegrate
code/latte/BurstIntegrate
code/latte/Check_emp.ddl
code/latte/Check_emp.lp
code/latte/Check_emp.lps
code/latte/Check_emp.out
code/latte/ComputeAdjacency
code/latte/Error
code/latte/Makefile
code/latte/Makefile.in
code/latte/SavedFiles
code/latte/SunWS_cache
code/latte/ValuationComputation
code/latte/aggregate
code/latte/aggregation/.deps
code/latte/aggregation/.dirstamp
code/latte/barvinok/.deps
code/latte/barvinok/.dirstamp
code/latte/barvinok/SunWS_cache
code/latte/compare
code/latte/complete-boundary-triangulation
code/latte/count
code/latte/cube5*
code/latte/cubeH*
code/latte/cubeocthedron
code/latte/ehrhart
code/latte/ehrhart3
code/latte/genFunction/.deps
code/latte/genFunction/.dirstamp
code/latte/genFunction/SunWS_cache
code/latte/gmon.out
code/latte/gmptest
code/latte/ilio_test
code/latte/integrate_demo
code/latte/integrate_test
code/latte/integration/.deps
code/latte/integration/.dirstamp
code/latte/integration/testIntegration.sh
code/latte/integration/testMultiply.sh
code/latte/interpolation/.deps
code/latte/interpolation/.dirstamp
code/latte/latte-maximize
code/latte/latte-minimize
code/latte/latte2ext
code/latte/latte2ine
code/latte/longRunningTests
code/latte/maximize
code/latte/minimize
code/latte/multiply_test
code/latte/myTest
code/latte/myTestEhrhart
code/latte/negativeCoeff
code/latte/normalize/.deps
code/latte/normalize/Makefile
code/latte/normalize/Makefile.in
code/latte/normalize/hilbert-from-rays
code/latte/normalize/hilbert-from-rays-symm
code/latte/numOfLatticePoints
code/latte/numOfUnimodularCones
code/latte/polyhedron-to-cones
code/latte/redcheck
code/latte/savedfiles
code/latte/simple-count
code/latte/test-todd
code/latte/testEhrhart/.deps
code/latte/testEhrhart/.dirstamp
code/latte/testPolynomialInterpolation
code/latte/todd/.deps
code/latte/todd/.dirstamp
code/latte/todd/todd.cpp
code/latte/todd/todd.pre-cpp
code/latte/triangulate
code/latte/triangulate-boundary
code/latte/triangulation/.deps
code/latte/triangulation/.dirstamp
code/latte/valuation/.deps
code/latte/valuation/.dirstamp
code/latte/vertices/.deps
code/latte/vertices/.dirstamp
code/latte/vertices/SunWS_cache
code/latte/vertices/redcheck
code/lidia-include.h
code/stamp-h.in
code/stamp-h1
code/test-suite/.deps
code/test-suite/Check_emp.ddl
code/test-suite/Check_emp.lp
code/test-suite/Check_emp.lps
code/test-suite/Check_emp.out
code/test-suite/Makefile
code/test-suite/Makefile.in
code/test-suite/latte_cdd.ddl
code/test-suite/latte_cdd.ext
code/test-suite/latte_cdd.ine
code/test-suite/latte_cdd.out
code/test-suite/log-*
code/test-suite/numOfLatticePoints
code/test-suite/numOfUnimodularCones
code/test-suite/results
code/test-suite/set-max-cpu-time
code/test-suite/test.pl
code/test-suite/totalTime
/config.guess
/config.h.in
/config.libpath
/config.log
/config.status
/config.sub
/configure
/depcomp
distro/*.tar.gz
distro/.built_*
distro/.unpacked_*
distro/Makefile
distro/Makefile.in
distro/aclocal.m4
distro/autom4te.cache
distro/config.guess
distro/config.log
distro/config.status
distro/config.sub
distro/configure
distro/configure.lineno
distro/dest
distro/install-sh
distro/missing
doc/manual.pdf
doc/manual.ps
/install-reloc
/install-sh
/link-warning.h
m4/gnulib/.deps
m4/gnulib/.dirstamp
/missing
/mkinstalldirs
/numOfLatticePoints
/numOfUnimodularCones
/reloc-ldflags
/stamp-h1
