* text=auto !eol
EXAMPLES/aimPresentation/aimLatteExamples.tex -text
EXAMPLES/aimPresentation/examples/easy/birkhoff-4.latte -text
EXAMPLES/aimPresentation/examples/easy/birkhoff-4.latte.polynomial -text
EXAMPLES/aimPresentation/examples/easy/checkGraph3_3_se.latte -text
EXAMPLES/aimPresentation/examples/easy/checkGraph3_3_se.polynomial -text
EXAMPLES/aimPresentation/examples/easy/checkGraph3_3_seDescription.txt -text
EXAMPLES/aimPresentation/examples/easy/cubeocthedron -text
EXAMPLES/aimPresentation/examples/easy/cubeocthedron.polynomial -text
EXAMPLES/aimPresentation/examples/easy/hyperrectangle.latte -text
EXAMPLES/aimPresentation/examples/easy/hyperrectangle.polynomial -text
EXAMPLES/aimPresentation/examples/easy/hyperrectangleDescription.txt -text
EXAMPLES/aimPresentation/examples/easy/kneser2_5_edge.latte -text
EXAMPLES/aimPresentation/examples/easy/kneser2_5_edge.polymake -text
EXAMPLES/aimPresentation/examples/easy/kneser2_5_edge.polynomial -text
EXAMPLES/aimPresentation/examples/easy/kneser2_5_edgeDescription.tet -text
EXAMPLES/aimPresentation/examples/easy/magic4x4 -text
EXAMPLES/aimPresentation/examples/easy/magic4x4.polynomial -text
EXAMPLES/aimPresentation/examples/easy/square.latte -text
EXAMPLES/aimPresentation/examples/easy/square.polynomial -text
EXAMPLES/aimPresentation/examples/medium/ccp_5.ine -text
EXAMPLES/aimPresentation/examples/medium/ccp_5Description.txt -text
EXAMPLES/aimPresentation/img/cube.png -text
EXAMPLES/aimPresentation/img/cubeVertex.png -text
EXAMPLES/aimPresentation/img/cubeVertex.xcf -text
EXAMPLES/aimPresentation/img/unitSquare.png -text
EXAMPLES/aimPresentation/img/unitSquare.xcf -text
EXAMPLES/aimPresentation/notes.txt -text
EXAMPLES/ccp/ccp_5.ext -text
EXAMPLES/ccp/ccp_5.ine -text
EXAMPLES/ccp/ccp_6.ext -text
EXAMPLES/ccp/ccp_6.ine -text
EXAMPLES/ccp/ccp_7.ext -text
EXAMPLES/ccp/ccp_7.ine -text
EXAMPLES/ccp/readme -text
EXAMPLES/crossCyclic/cc_8_10.ext -text
EXAMPLES/crossCyclic/cc_8_10.ine -text
EXAMPLES/crossCyclic/cc_8_11.ext -text
EXAMPLES/crossCyclic/cc_8_11.ine -text
EXAMPLES/crossCyclic/cc_8_5.ext -text
EXAMPLES/crossCyclic/cc_8_5.ine -text
EXAMPLES/crossCyclic/cc_8_6.ext -text
EXAMPLES/crossCyclic/cc_8_6.ine -text
EXAMPLES/crossCyclic/cc_8_7.ext -text
EXAMPLES/crossCyclic/cc_8_7.ine -text
EXAMPLES/crossCyclic/cc_8_8.ext -text
EXAMPLES/crossCyclic/cc_8_8.ine -text
EXAMPLES/crossCyclic/cc_8_9.ext -text
EXAMPLES/crossCyclic/cc_8_9.ine -text
EXAMPLES/crossCyclic/readme -text
EXAMPLES/cubes/cube-4-3.5.latte -text
EXAMPLES/cubes/cube_10.ext -text
EXAMPLES/cubes/cube_10.ine -text
EXAMPLES/cubes/cube_11.ext -text
EXAMPLES/cubes/cube_11.ine -text
EXAMPLES/cubes/cube_12.ext -text
EXAMPLES/cubes/cube_12.ine -text
EXAMPLES/cubes/cube_13.ext -text
EXAMPLES/cubes/cube_13.ine -text
EXAMPLES/cubes/cube_14.ext -text
EXAMPLES/cubes/cube_14.ine -text
EXAMPLES/cubes/cube_2.ext -text
EXAMPLES/cubes/cube_2.ine -text
EXAMPLES/cubes/cube_3.ext -text
EXAMPLES/cubes/cube_3.ine -text
EXAMPLES/cubes/cube_4.ext -text
EXAMPLES/cubes/cube_4.ine -text
EXAMPLES/cubes/cube_5.ext -text
EXAMPLES/cubes/cube_5.ine -text
EXAMPLES/cubes/cube_6.ext -text
EXAMPLES/cubes/cube_6.ine -text
EXAMPLES/cubes/cube_7.ext -text
EXAMPLES/cubes/cube_7.ine -text
EXAMPLES/cubes/cube_8.ext -text
EXAMPLES/cubes/cube_8.ine -text
EXAMPLES/cubes/cube_9.ext -text
EXAMPLES/cubes/cube_9.ine -text
EXAMPLES/cubes/makeCube -text
EXAMPLES/cubes/makeCube.cpp -text
EXAMPLES/garcia -text
EXAMPLES/kahle/K4.latte -text
EXAMPLES/kahle/join.latte -text
EXAMPLES/kahle/other.latte -text
EXAMPLES/lehmann -text
EXAMPLES/metric/Fm_4.ext -text
EXAMPLES/metric/Fm_4.ine -text
EXAMPLES/metric/Fm_5.ext -text
EXAMPLES/metric/Fm_5.ine -text
EXAMPLES/metric/Fm_6.ext -text
EXAMPLES/metric/Fm_6.ine -text
EXAMPLES/nicole-simplex.vrep -text
EXAMPLES/rh/rh_10_20.ext -text
EXAMPLES/rh/rh_10_20.ine -text
EXAMPLES/rh/rh_10_25.ext -text
EXAMPLES/rh/rh_10_25.ine -text
EXAMPLES/rh/rh_10_30.ext -text
EXAMPLES/rh/rh_10_30.ine -text
EXAMPLES/rh/rh_8_20.ext -text
EXAMPLES/rh/rh_8_20.ine -text
EXAMPLES/rh/rh_8_25.ext -text
EXAMPLES/rh/rh_8_25.ine -text
EXAMPLES/rh/rh_8_30.ext -text
EXAMPLES/rh/rh_8_30.ine -text
EXAMPLES/rv/rv_10_12.ext -text
EXAMPLES/rv/rv_10_12.ine -text
EXAMPLES/rv/rv_10_13.ext -text
EXAMPLES/rv/rv_10_13.ine -text
EXAMPLES/rv/rv_10_14.ext -text
EXAMPLES/rv/rv_10_14.ine -text
EXAMPLES/rv/rv_8_10.ext -text
EXAMPLES/rv/rv_8_10.ine -text
EXAMPLES/rv/rv_8_11.ext -text
EXAMPLES/rv/rv_8_11.ine -text
EXAMPLES/rv/rv_8_12.ext -text
EXAMPLES/rv/rv_8_12.ine -text
EXAMPLES/rv/rv_8_13.ext -text
EXAMPLES/rv/rv_8_13.ine -text
EXAMPLES/rv/rv_8_14.ext -text
EXAMPLES/rv/rv_8_14.ine -text
EXAMPLES/rv/rv_8_20.ext -text
EXAMPLES/rv/rv_8_20.ine -text
EXAMPLES/rv/rv_8_30.ext -text
EXAMPLES/rv/rv_8_30.ine -text
EXAMPLES/tests/implied-equation.latte -text
EXAMPLES/tests/missing-newline-2.latte -text
EXAMPLES/tests/missing-newline-3.latte -text
EXAMPLES/tests/missing-newline.latte -text
EXAMPLES/volumeIntegrationPaperComparison/Henrion/README.txt -text
EXAMPLES/volumeIntegrationPaperComparison/Henrion/bean.Arc10-08.latte.vrep -text
EXAMPLES/volumeIntegrationPaperComparison/Henrion/maple/integrateAsFunction.mw -text
EXAMPLES/volumeIntegrationPaperComparison/Henrion/maple/mapleBean.mpl -text
EXAMPLES/volumeIntegrationPaperComparison/Henrion/maple/plotFuctionNorm.mw -text
EXAMPLES/volumeIntegrationPaperComparison/Henrion/paper/appVolumeIntegrationBasicSemiAlgebraicSets.pdf -text
EXAMPLES/volumeIntegrationPaperComparison/Lepelley/maple/makeVotePolytope.mpl -text
EXAMPLES/volumeIntegrationPaperComparison/Lepelley/maple/votePolytope3.hrep.latte -text
EXAMPLES/volumeIntegrationPaperComparison/Lepelley/maple/votePolytope4.hrep.latte -text
EXAMPLES/volumeIntegrationPaperComparison/Lepelley/maple/votePolytope5.hrep.latte -text
EXAMPLES/volumeIntegrationPaperComparison/Lepelley/maple/votePolytope6.hrep.latte -text
EXAMPLES/volumeIntegrationPaperComparison/Lepelley/paper/On[!!-~]Ehrhart[!!-~]polynomials[!!-~]and[!!-~]probability[!!-~]calculations.PDF -text svneol=unset#unset
EXAMPLES/volumeIntegrationPaperComparison/VOLUME/markKorenblit/README.txt -text
EXAMPLES/volumeIntegrationPaperComparison/VOLUME/markKorenblit/ch3.1 -text
EXAMPLES/volumeIntegrationPaperComparison/VOLUME/markKorenblit/ch3.2 -text
EXAMPLES/volumeIntegrationPaperComparison/VOLUME/markKorenblit/ch3.3 -text
EXAMPLES/volumeIntegrationPaperComparison/VOLUME/markKorenblit/paper/Mark[!!-~]Korenblit1.pdf -text svneol=unset#unset
EXAMPLES/volumeIntegrationPaperComparison/VOLUME/ong/README.txt -text
EXAMPLES/volumeIntegrationPaperComparison/VOLUME/ong/p1.latte.txt -text
EXAMPLES/volumeIntegrationPaperComparison/VOLUME/ong/p2.latte.txt -text
EXAMPLES/volumeIntegrationPaperComparison/VOLUME/ong/p3.latte.txt -text
EXAMPLES/volumeIntegrationPaperComparison/VOLUME/ong/p4.latte.txt -text
EXAMPLES/volumeIntegrationPaperComparison/VOLUME/ong/p5.latte.txt -text
EXAMPLES/volumeIntegrationPaperComparison/VOLUME/ong/p6.latte.txt -text
EXAMPLES/volumeIntegrationPaperComparison/VOLUME/ong/p7.latte.txt -text
EXAMPLES/volumeIntegrationPaperComparison/VOLUME/ong/paper/OngVolumeExperiments.pdf -text svneol=unset#unset
EXAMPLES/volumeIntegrationPaperComparison/bueler/READEME.txt -text
EXAMPLES/volumeIntegrationPaperComparison/bueler/paper/bueler.pdf -text
EXAMPLES/volumeIntegrationPaperComparison/bueler/tables_1and2.tex -text
EXAMPLES/volumeIntegrationPaperComparison/notStarted/Fausto[!!-~]Bernardini.pdf -text svneol=unset#unset
EXAMPLES/volumeIntegrationPaperComparison/notStarted/RATHOD.pdf -text svneol=unset#unset
EXAMPLES/volumeIntegrationPaperComparison/notStarted/README.txt -text
EXAMPLES/volumeIntegrationPaperComparison/notStarted/alanGenz.pdf -text svneol=unset#unset
EXAMPLES/volumeIntegrationPaperComparison/notStarted/zhiqiangXu.pdf -text
EXAMPLES/volumeIntegrationPaperComparison/randomPolytopes/createScript.sqlite -text
EXAMPLES/volumeIntegrationPaperComparison/randomPolytopes/createVolume.sql -text
EXAMPLES/volumeIntegrationPaperComparison/randomPolytopes/dbBackup/polynomialBackup.1.20.9pm.tar.gzip -text
EXAMPLES/volumeIntegrationPaperComparison/randomPolytopes/fixDuals.sh -text
EXAMPLES/volumeIntegrationPaperComparison/randomPolytopes/makeDatabase.sh -text
EXAMPLES/volumeIntegrationPaperComparison/randomPolytopes/randomPolytoepDB.2.15.2011.tar.gzip -text
EXAMPLES/volumeIntegrationPaperComparison/randomPolytopes/vinciCyclicPolytopes/vinciCyclicPolytopesDriver.pl -text
EXAMPLES/volumeIntegrationPaperComparison/shaoweiLin/shaoweiLin.pdf -text
code/gnulib/alloca_.h -text
code/gnulib/stdbool_.h -text
code/gnulib/stdlib_.h -text
code/gnulib/unistd_.h -text
code/latte/LattException.cpp -text
code/latte/LattException.h -text
code/latte/buildPolytopes/BuildGraphPolytope.cpp -text
code/latte/buildPolytopes/BuildGraphPolytope.h -text
code/latte/buildPolytopes/BuildHypersimplexEdgePolytope.cpp -text
code/latte/buildPolytopes/BuildHypersimplexEdgePolytope.h -text
code/latte/buildPolytopes/BuildPolytope.cpp -text
code/latte/buildPolytopes/BuildPolytope.h -text
code/latte/buildPolytopes/BuildRandomPolynomials.cpp -text
code/latte/buildPolytopes/BuildRandomPolynomials.h -text
code/latte/buildPolytopes/BuildRandomPolytope.cpp -text
code/latte/buildPolytopes/BuildRandomPolytope.h -text
code/latte/buildPolytopes/Driver.cpp -text
code/latte/buildPolytopes/GraphMaker.cpp -text
code/latte/buildPolytopes/GraphMaker.h -text
code/latte/burstmapletest.mpl -text
code/latte/convertCDD_ext_to_latte.cpp -text
code/latte/convertCDD_ine_to_latte.cpp -text
code/latte/count.h -text
code/latte/countDriver.cpp -text
code/latte/ehrhart2 -text
code/latte/ehrhart3.cpp -text
code/latte/integration/PolyRep.cpp -text
code/latte/integration/PolyRep.h -text
code/latte/integration/PolyTrie.cpp -text
code/latte/integration/PolyTrie.h -text
code/latte/integration/benchmark.mpl -text
code/latte/integration/benchmark.sh -text
code/latte/integration/blockInt.cpp -text
code/latte/integration/blockReps.h -text
code/latte/integration/burstInt.cpp -text
code/latte/integration/burstTrie.h -text
code/latte/integration/burstTrie.hpp -text
code/latte/integration/compareTimes.mpl -text
code/latte/integration/consumers.h -text
code/latte/integration/createLinear.mpl -text
code/latte/integration/decompose.cpp -text
code/latte/integration/decomposeTest.mpl -text
code/latte/integration/demo_readme.txt -text
code/latte/integration/integrateDemo.cpp -text
code/latte/integration/integrateTest.cpp -text
code/latte/integration/integrationTestsLib.mpl -text
code/latte/integration/iterators.h -text
code/latte/integration/iterators.hpp -text
code/latte/integration/multiply.h -text
code/latte/integration/multiplyTest.cpp -text
code/latte/integration/multiplyTest.mpl -text
code/latte/integration/newIntegration.cpp -text
code/latte/integration/newIntegration.h -text
code/latte/integration/residue.cpp -text
code/latte/integration/residue.h -text
code/latte/integration/testIntegration.sh.in -text
code/latte/integration/testMultiply.sh.in -text
code/latte/integration/versusMode.cpp -text
code/latte/interpolation/PolynomialInterpolation.cpp -text
code/latte/interpolation/PolynomialInterpolation.h -text
code/latte/interpolation/testDriver.cpp -text
code/latte/polyintegration.tex -text
code/latte/sqlite/IntegrationDB.cpp -text
code/latte/sqlite/IntegrationDB.h -text
code/latte/sqlite/SqliteDB.cpp -text
code/latte/sqlite/SqliteDB.h -text
code/latte/sqlite/ValuationDBStatistics.h -text
code/latte/sqlite/VolumeDB.cpp -text
code/latte/sqlite/VolumeDB.h -text
code/latte/sqlite/select.sqlite -text
code/latte/testingSLandTopEhrhart/SL/Data/tableTimeSLVolume_6_3.txt -text
code/latte/testingSLandTopEhrhart/SL/SL_lib.mpl -text
code/latte/testingSLandTopEhrhart/SL/testingSLIntegration.mpl -text
code/latte/testingSLandTopEhrhart/SL/testingSLVolume.mpl -text
code/latte/testingSLandTopEhrhart/SL/testingSL_lib.mpl -text
code/latte/testingSLandTopEhrhart/TopEhrhart/BirkhoffGenerator.mpl -text
code/latte/testingSLandTopEhrhart/TopEhrhart/Data/tableTimeSLTopEhrhart_dim12_1_38.log -text
code/latte/testingSLandTopEhrhart/TopEhrhart/Data/tableTimeSLTopEhrhart_dim2-10.average -text
code/latte/testingSLandTopEhrhart/TopEhrhart/Data/tableTimeSLTopEhrhart_dim2-10.log -text
code/latte/testingSLandTopEhrhart/TopEhrhart/TopEhrhart_lib.mpl -text
code/latte/testingSLandTopEhrhart/TopEhrhart/testingTopEhrhart.mpl -text
code/latte/testingSLandTopEhrhart/TopEhrhart/testingTopEhrhartBirkhoffSimplex.mpl -text
code/latte/testingSLandTopEhrhart/TopEhrhart/testingTopEhrhart_lib.mpl -text
code/latte/valuation/Driver.cpp -text
code/latte/valuation/Perturbation.cpp -text
code/latte/valuation/Perturbation.h -text
code/latte/valuation/PolytopeValuation.cpp -text
code/latte/valuation/PolytopeValuation.h -text
code/latte/valuation/RecursivePolytopeValuation.cpp -text
code/latte/valuation/RecursivePolytopeValuation.h -text
code/latte/valuation/countLinearFormsFromPolynomialDriver.cpp -text
code/latte/valuation/testCorrectnessAndBenchmark/VolumeAndIntegrationTests.cpp -text
code/latte/valuation/testCorrectnessAndBenchmark/VolumeAndIntegrationTests.h -text
code/latte/valuation/testCorrectnessAndBenchmark/buildDatabaseRandomPolytopesDriver.cpp -text
code/latte/valuation/testCorrectnessAndBenchmark/fixDualPolytopesInDatabaseDriver.cpp -text
code/latte/valuation/testCorrectnessAndBenchmark/fixLawrenceValuationDriver.cpp -text
code/latte/valuation/testCorrectnessAndBenchmark/integrateHyperrectangle.mpl -text
code/latte/valuation/testCorrectnessAndBenchmark/integrateHyperrectangleTest.sh -text
code/latte/valuation/testCorrectnessAndBenchmark/integratePolynomialForPaperDriver.cpp -text
code/latte/valuation/testCorrectnessAndBenchmark/printDatabaseTimeTablesDriver.cpp -text
code/latte/valuation/testCorrectnessAndBenchmark/runIntegrationTestFromDatabaseDriver.cpp -text
code/latte/valuation/testCorrectnessAndBenchmark/runVolumeTestFromDatabaseDriver.cpp -text
code/latte/valuation/testCorrectnessAndBenchmark/testBuildPolytopes.cpp -text
code/latte/valuation/testCorrectnessAndBenchmark/testIntegrationHyperrectanglesDriver.cpp -text
code/latte/valuation/testCorrectnessAndBenchmark/testVolumeForSLDriver.cpp -text
code/latte/valuation/testCorrectnessAndBenchmark/testVolumeHypersimplexDriver.cpp -text
code/latte/valuation/testCorrectnessAndBenchmark/valuationTestsLib.mpl -text
code/latte/valuation/testLibraryExamples.cpp -text
code/latte/valuation/valuation.cpp -text
code/latte/valuation/valuation.h -text
code/test-suite/test-4ti2.sh -text
code/test-suite/test-allprimal-exp-maxdet1000-4ti2.sh -text
code/test-suite/test-allprimal-exp-maxdet1000.sh -text
code/test-suite/test-cdd-cddlib.sh -text
code/test-suite/test-cdd.sh -text
code/test-suite/test-default.sh -text
code/test-suite/test-homog.sh -text
code/test-suite/test-irr-exp-maxdet1000-4ti2.sh -text
code/test-suite/test-irr-exp-maxdet1000.sh -text
distro/cdd+-077a.patch -text svneol=unset#application/octet-stream
distro/ntl-5.4-patch -text svneol=unset#application/octet-stream
doc/amsabbrv.bst -text
doc/bibliography.bib -text
doc/examplebrion.eps -text svneol=unset#application/octet-stream
doc/examplebrion.jpg -text
doc/homogenizedTriangle.jpg -text
doc/latte-integrale.jpg -text
doc/truncatedCube.jpg -text
/install-reloc -text
/link-warning.h -text
/manual_v1.1.pdf -text
/reloc-ldflags -text
